<devtools-navbar></devtools-navbar>

<div class="container" ng-show="selectUserScreen"
    style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    <form class="mb-5">
        <div class="form-row">
            <div class="input-group col">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="collectionSelect">Username</label>
                </div>
                <select class="custom-select" ng-model="selectedCollection" id="collectionSelect" required>
                    <option></option>
                    <option ng-repeat="c in users.users">{{ c }}</option>
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" ng-click="getUnlabeledData()">Select User</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" ng-click="deleteUser()">Delete User</button>
            </div>
        </div>
    </form>

</div>

<div class="container-fluid" ng-hide="selectUserScreen">

    <div class="float-right">
        <button type="button" class="btn btn-primary" ng-click="selectUserScreen = true">Change<br>User</button>
    </div>

    <div class="row">

        <div class="col text-center">
            <img class="img-thumbnail img-fluid" ng-src="{{ unlabeledData.image }}" alt="Preview Image"
                style="max-height: 800px;">
        </div>

        <form class="col" ng-submit="submit($event)">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">Category</h5>

                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a1"
                            name="category" value="environment">
                        <label class="form-check-label" for="a1">1 environment</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a2"
                            name="category" value="people">
                        <label class="form-check-label" for="a2">2 people</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a3"
                            name="category" value="object">
                        <label class="form-check-label" for="a3">3 object</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a4"
                            name="category" value="hybrid">
                        <label class="form-check-label" for="a4">4 hybrid</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a5"
                            name="category" value="animal">
                        <label class="form-check-label" for="a5">5 animal</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" ng-model="unlabeledData.class" type="radio" id="a6"
                            name="category" value="food">
                        <label class="form-check-label" for="a6">6 food</label>
                    </div>

                    <h5 class="card-title mt-3">Rating</h5>

                    <div class="row align-items-center">
                        <div class="col-4">
                            <input class="custom-range" ng-model="unlabeledData.rating" type="range" min="1" max="3"
                                step="1">
                        </div>
                        <p class="col">{{ ratingText() }}</p>
                    </div>

                    <h5 class="card-title mt-3">Database Information</h5>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-2">URL</div>
                            <div class="col-10 text-break" ng-bind="unlabeledData.image"></div>
                        </div>
                        <div class="row">
                            <div class="col-2">Image ID</div>
                            <div class="col-10" ng-bind="unlabeledData._id"></div>
                        </div>
                    </div>

                    <input class="btn btn-primary" ng-disabled="isNullData()" type="submit">

                </div>
            </div>
        </form>

    </div>


</div>