<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-body">

            <h6>Overall Evaluation Progress</h6>

            <div class="progress position-relative mb-2">
                <div class="progress-bar" ng-class="progressBar.classes()" ng-style="progressBar.totalWidth()"
                    role="progressbar">
                </div>
                <span class="d-flex align-items-center justify-content-center position-absolute w-100 h-100">
                    {{ progressBar.current }} / {{ progressBar.total }}
                </span>
            </div>

            <h6>Breakdown (Complete / Pending / Resource Errors / Incompatible Settings)</h6>

            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" ng-style="progressBar.completeWidth()"
                    ng-class="progressBar.animate()">{{ progressBar.complete }}</div>
                <div class="progress-bar bg-warning" role="progressbar" ng-style="progressBar.pendingWidth()"
                    ng-class="progressBar.animate()">{{ progressBar.pending }}</div>
                <div class="progress-bar bg-danger" role="progressbar" ng-style="progressBar.resourceWidth()"
                    ng-class="progressBar.animate()">{{ progressBar.resource }}</div>
                <div class="progress-bar bg-dark" role="progressbar" ng-style="progressBar.badWidth()"
                    ng-class="progressBar.animate()">{{ progressBar.bad }}</div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Controls</h5>

            <div class="row">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" ng-click="reevaluatePending()">Re-evaluate
                        Pending</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" ng-click="removeMongoDbDuplicates()">Delete
                        Duplicates</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">

            <h5 class="card-title">Filters</h5>

            <div class="row">

                <div class="form-group col">
                    <label for="architectures">Architecture</label>
                    <select class="form-control" id="architectures" ng-model="search.model.architecture">
                        <option></option>
                        <option ng-repeat="architecture in options.architectures">{{ architecture }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="datasets">Dataset</label>
                    <select class="form-control" id="datasets" ng-model="search.model.dataset">
                        <option></option>
                        <option ng-repeat="dataset in options.datasets">{{ dataset }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="losses">Loss</label>
                    <select class="form-control" id="losses" ng-model="search.model.loss">
                        <option></option>
                        <option ng-repeat="loss in options.losses">{{ loss }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="optimizers">Optimizer</label>
                    <select class="form-control" id="optimizers" ng-model="search.model.optimizer">
                        <option></option>
                        <option ng-repeat="optimizer in options.optimizers">{{ optimizer }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" ng-model="search.status">
                        <option></option>
                        <option ng-repeat="status in evaluations.statuses()">{{ status }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="sortBy">Sort By</label>
                    <select class="form-control" ng-model="sort.phase" id="sortBy">
                        <option>training.accuracy</option>
                        <option>validation.accuracy</option>
                        <option>test.accuracy</option>
                    </select>
                </div>

                <div class="col-auto d-flex align-items-end mb-3">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input type="checkbox" ng-model="sort.reverse">
                            <svg class="btn-icon bi bi-sort-numeric-down-alt" ng-show="sort.reverse"
                                fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#sort-numeric-down-alt" />
                            </svg>
                            <svg class="btn-icon bi bi-sort-numeric-up-alt" ng-hide="sort.reverse" fill="currentColor">
                                <use xlink:href="bootstrap-icons.svg#sort-numeric-up-alt" />
                            </svg>
                        </label>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Status</th>
                <th scope="col">Training</th>
                <th scope="col">Validation</th>
                <th scope="col">Test</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eval_ in evaluations.toArray() | filter : search | orderBy : sort.phase : sort.reverse">
                <td>
                    <pre><code>{{ eval_.model | json }}</code></pre>
                </td>
                <td>
                    <pre><code>{{ eval_.status }}</code></pre>
                </td>
                <td>
                    <pre><code>{{ eval_.training | json }}</code></pre>
                </td>
                <td>
                    <pre><code>{{ eval_.validation | json }}</code></pre>
                </td>
                <td>
                    <pre><code>{{ eval_.test | json }}</code></pre>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Status Check: Loading Data Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Make sure the server and MongoDB are both on.<br>
                Server: {{ optionsLoaded() ? 'on' : 'off' }}<br>
                MongoDB: {{ evaluations.isLoaded ? 'on' : 'off' }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore</button>
                <button type="button" class="btn btn-primary" ng-click="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>