<div ng-show="nnSvgStyle === 'alexnet'" id="graph-container"
    style="top: 0; bottom: 0; left: 0; right: 0; position: fixed;"></div>

<div ng-show="nnSvgStyle === 'lenet'" id="graph-container2"
    style="top: 0; bottom: 0; left: 0; right: 0; position: fixed;"></div>

<devtools-navbar></devtools-navbar>

<div class="position-relative">
    <div class="card mb-3 ml-3" style="width: 20%; top: 0; left: 0; position: absolute;">

        <div class="card-body">
            <form ng-submit="submit()">

                <div class="form-row">

                    <div class="form-group col">
                        <label for="architectures">Architectures</label>
                        <select class="form-control" id="architectures" ng-model="selectedOptions.architecture">
                            <option ng-repeat="architecture in options.architectures">{{ architecture }}</option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="datasets">Datasets</label>
                        <select class="form-control" id="datasets" ng-model="selectedOptions.dataset">
                            <option ng-repeat="dataset in options.datasets">{{ dataset }}</option>
                        </select>
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col">
                        <label for="losses">Losses</label>
                        <select class="form-control" id="losses" ng-model="selectedOptions.loss">
                            <option ng-repeat="loss in options.losses">{{ loss }}</option>
                        </select>
                    </div>

                    <div class="form-group col">
                        <label for="optimizers">Optimizers</label>
                        <select class="form-control" id="optimizers" ng-model="selectedOptions.optimizer">
                            <option ng-repeat="optimizer in options.optimizers">{{ optimizer }}</option>
                        </select>
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col">
                        <label for="metrics">Metrics</label>
                        <input class="form-control" ng-model="selectedOptions.metrics" type="text" id="metrics">
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col">
                        <label for="epochs">Epochs</label>
                        <input class="form-control" ng-model="selectedOptions.epochs" type="number" id="epochs" min="0"
                            step="1">
                    </div>

                    <div class="form-group col">
                        <label for="patience">Patience</label>
                        <input class="form-control" ng-model="selectedOptions.patience" type="number" id="patience"
                            min="0" step="1">
                    </div>

                </div>

                <div class="d-flex align-items-end">
                    <button class="btn btn-primary" type="submit">Draw Model</button>
                </div>

            </form>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Diagram Style</h6>
                <div class="form-check">
                    <input class="form-check-input" ng-model="nnSvgStyle" type="radio" name="nnSvgStyle" id="lenetRadio"
                        value="lenet">
                    <label class="form-check-label" for="lenetRadio">
                        LeNet
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" ng-model="nnSvgStyle" type="radio" name="nnSvgStyle"
                        id="alexnetRadio" value="alexnet">
                    <label class="form-check-label" for="alexnetRadio">
                        AlexNet
                    </label>
                </div>
            </li>
        </ul>

    </div>

    <div class="accordion mb-3 mr-3" id="modelSummaryAccordion" style="top: 0; right: 0; position: absolute;">
        <div class="card">
            <div class="card-header">
                <h2 class="m-0">
                    <button class="btn btn-link btn-block text-left p-0" type="button" data-toggle="collapse"
                        data-target="#modelSummaryCollapse" aria-expanded="true" aria-controls="modelSummaryCollapse">
                        Model Summary
                    </button>
                </h2>
            </div>
            <div id="modelSummaryCollapse" class="collapse show" data-parent="#modelSummaryAccordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Shape</th>
                                    <th scope="col">Kernel/Pool</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="layer in modelSummary.layers">
                                    <th scope="row">{{ $index }}</th>
                                    <td>{{ layer.name }}</td>
                                    <td>{{ layer.layer_type }}</td>
                                    <td>{{ layer.input_shape }}</td>
                                    <td>{{ layer.pool_size || layer.kernel_size }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Loading Data Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Make sure the server is on.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quit</button>
                <button type="button" class="btn btn-primary" ng-click="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>

<script>window.THREE = require('three');</script>
<script>window.d3 = require('d3');</script>
<script src="nn-svg/OrbitControls.js"></script>
<script src="nn-svg/SVGRenderer.js"></script>
<script src="nn-svg/Projector.js"></script>
<script src="nn-svg/util.js"></script>
<script src="nn-svg/AlexNet.js"></script>
<script src="nn-svg/LeNet.js"></script>
<script>
    window.ALEXNET = AlexNet();
    window.LENET = LeNet();
</script>