<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <form class="card" ng-submit="submit()">
        <div class="card-body">
            <div class="form-row">

                <div class="form-group col-2">
                    <label for="architectures">Architectures</label>
                    <select class="form-control" ng-model="selectedOptions.architecture"
                        ng-options="architecture for architecture in options.architectures" id="architectures"></select>
                </div>

                <div class="form-group col-2">
                    <label for="datasets">Datasets</label>
                    <select class="form-control" ng-model="selectedOptions.dataset"
                        ng-options="dataset for dataset in options.datasets" id="datasets"></select>
                </div>

                <div class="form-group col-2">
                    <label for="losses">Losses</label>
                    <select class="form-control" ng-model="selectedOptions.loss"
                        ng-options="loss for loss in options.losses" id="losses"></select>
                </div>

                <div class="form-group col-2">
                    <label for="optimizers">Optimizers</label>
                    <select class="form-control" ng-model="selectedOptions.optimizer"
                        ng-options="optimizer for optimizer in options.optimizers" id="optimizers"></select>
                </div>

                <div class="form-group col-2">
                    <label for="metrics">Metrics</label>
                    <input class="form-control" ng-model="selectedOptions.metrics" type="text" id="metrics">
                </div>

                <div class="form-group col-2">
                    <label for="epochs">Epochs</label>
                    <input class="form-control" ng-model="selectedOptions.epochs" type="number" id="epochs" min="0"
                        step="1">
                </div>

                <div class="form-group col-2">
                    <label for="patience">Patience</label>
                    <input class="form-control" ng-model="selectedOptions.patience" type="number" id="patience" min="0"
                        step="1">
                </div>

                <div class="form-group col-2">
                    <label for="phase">Phases</label>
                    <select class="form-control" id="phase" ng-model="selectedOptions.phase">
                        <option>training</option>
                        <option>validation</option>
                        <option>test</option>
                    </select>
                </div>

                <div class="form-group col-2">
                    <label for="split">Split</label>
                    <input class="form-control" ng-model="selectedOptions.split" type="number" id="split" min="0"
                        step="1">
                </div>

                <div class="form-group col d-flex align-items-end">
                    <button class="btn btn-primary" type="submit">Compare Predictions</button>
                </div>

            </div>
        </div>
    </form>

    <div class="card mt-3" ng-hide="confusionMatrix === null">
        <div class="card-body">
            <h5 class="card-title">Metrics</h5>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Accuracy</td>
                        <td>{{ metrics.accuracy }}</td>
                    </tr>
                    <tr>
                        <td>Recall</td>
                        <td>{{ metrics.recall }}</td>
                    </tr>
                    <tr>
                        <td>Precision</td>
                        <td>{{ metrics.precision }}</td>
                    </tr>
                    <tr>
                        <td>F1 Score</td>
                        <td>{{ metrics.f1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-3" ng-hide="confusionMatrix === null">
        <div class="card-body">
            <h5 class="card-title">Confusion Matrix</h5>
            <table class="table table-striped table-sm d-inline-block">
                <tr>
                    <th colspan="2"></th>
                    <th class="text-center" colspan="{{ confusionMatrix.classes.length }}">Predicted</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th ng-repeat="class_ in confusionMatrix.classes" scope="col">{{ class_ }}</th>
                </tr>
                <tr ng-repeat="row_ in confusionMatrix.container">
                    <th class="align-middle" ng-if="$first" rowspan="{{ confusionMatrix.classes.length }}">
                        <div class="rotate-sm-l-90">Truth</div>
                    </th>
                    <th scope="row">{{ confusionMatrix.classes[$index] }}</th>
                    <td ng-repeat="cell in row_ track by $index">{{ cell }}</td>
                </tr>
            </table>
        </div>
    </div>

    <table class="table table-striped mt-3" ng-show="prediction.length > 0">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>True Value</th>
                <th class="w-50">Predicted Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in prediction">
                <td class="text-center">
                    <img class="rate-thumbnail img-thumbnail" ng-click="focusOnImage(datum.x)" role="button"
                        ng-src="{{ datum.x | fileUrl }}" style="max-width: 300px; max-height: 300px;">
                </td>
                <td>
                    <div ng-if="keyGuide.length === 0">{{ datum.y.truth }}</div>
                    <div ng-if="keyGuide.length > 0">{{ datum.y.truth.label }}</div>
                </td>
                <td>
                    <div ng-if="keyGuide.length === 0">{{ datum.y.predicted }}</div>
                    <table class="table table-borderless" ng-if="keyGuide.length > 0">
                        <tr ng-repeat="oneHotValue in datum.y.predicted.arr" class="bg-transparent">
                            <th scope="row" class="col-auto">{{ oneHotValue.name }}</th>
                            <td class="text-right col-auto">{{ oneHotValue.percentage | number : 3 }}%</td>
                            <td class="col">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                        ng-class="oneHotValue.isMax ? 'bg-success' : 'bg-info'"
                                        ng-style="oneHotValue.cssWidth" aria-valuenow="{{ oneHotValue.percentage }}"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Loading Data Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Make sure the server is on.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quit</button>
                <button type="button" class="btn btn-primary" ng-click="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>

<photo-modal></photo-modal>