<div class="container">
    <h1 class="display-1 mb-5 text-center">Album Summarizer</h1>
    <h2 class="text-center">Main Menu</h2>
    <a class="btn btn-primary btn-lg btn-block" href="#!/organizer">Organizer</a>
    <h2 class="text-center mt-4">Developer Tools</h2>
    <a class="btn btn-primary btn-lg btn-block" href="#!/devtools/check-rate">Deep Learning</a>
    <a class="btn btn-primary btn-lg btn-block" href="#!/devtools/histogram">Clustering Algorithms</a>
    <a class="btn btn-primary btn-lg btn-block" href="#!/devtools/label-data">Data Preparation</a>
</div>