<devtools-navbar></devtools-navbar>

<div class="container position-relative">

    <h1 class="display-2 pb-3">Settings</h1>

    <form ng-submit="save()">

        <h1>MongoDB</h1>

        <div class="form-row">
            <div class="form-group col-8">
                <label for="mongodbHostname">Hostname/IP Address</label>
                <input class="form-control" ng-model="settings.mongodb.hostname" type="text" id="mongodbHostname">
            </div>
            <div class="form-group col">
                <label for="mongodbPort">Port</label>
                <input class="form-control" ng-model="settings.mongodb.port" type="number" id="mongodbPort">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="mongodbUsername">Username</label>
                <input class="form-control" ng-model="settings.mongodb.username" type="text" id="mongodbUsername">
            </div>
            <div class="form-group col">
                <label for="mongodbPassword">Password</label>
                <input class="form-control" ng-model="settings.mongodb.password" type="password" id="mongodbPassword">
            </div>
        </div>

        <h1>Server</h1>

        <div class="form-row">
            <div class="form-group col">
                <label for="serverUrl">URL</label>
                <input type="text" class="form-control" id="serverUrl" ng-model="settings.server.url">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>

    <div style="position: absolute; top: 0; right: 0;">

        <div class="toast" role="status" aria-live="polite" aria-atomic="true" id="toast1" data-delay="5000"
            data-autohide="true" ng-show="toastShow1">
            <div class="toast-header bg-success text-white">
                <strong class="mr-auto">Settings</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Settings successfully saved!
            </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast2" data-delay="5000"
            data-autohide="true" ng-show="toastShow2">
            <div class="toast-header bg-info text-white">
                <strong class="mr-auto">Settings</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Settings file missing. Loaded default settings.
            </div>
        </div>

    </div>

</div>