<devtools-navbar></devtools-navbar>

<div class="container position-relative">

    <h1 class="display-2 pb-3">Settings</h1>

    <h1>MongoDB Settings</h1>

    <form ng-submit="update()">
        <div class="form-row">
            <div class="form-group col-8">
                <label for="hostname">Hostname/IP Address</label>
                <input class="form-control" ng-model="settings.hostname" type="text" id="hostname">
            </div>
            <div class="form-group col">
                <label for="port">Port</label>
                <input class="form-control" ng-model="settings.port" type="number" id="port">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="username">Username</label>
                <input class="form-control" ng-model="settings.username" type="text" id="username">
            </div>
            <div class="form-group col">
                <label for="password">Password</label>
                <input class="form-control" ng-model="settings.password" type="password" id="password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <h1>Server Settings</h1>

    <form>
        <div class="form-row">
            <div class="form-group">
                <label for="serverUrl">URL</label>
                <input type="text" class="form-control" id="serverUrl" ng-model="queryServerSettings.serverUrl">
            </div>
        </div>
    </form>

    <div style="position: absolute; top: 0; right: 0;">

        <div class="toast" role="status" aria-live="polite" aria-atomic="true" id="toast1" data-delay="5000"
            data-autohide="true" ng-show="toastShow1">
            <div class="toast-header bg-success text-white">
                <strong class="mr-auto">MongoDB</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                MongoDB settings successfully saved!
            </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast2" data-delay="5000"
            data-autohide="true" ng-show="toastShow2">
            <div class="toast-header bg-info text-white">
                <strong class="mr-auto">MongoDB</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ toast2 }}
            </div>
        </div>

    </div>

</div>