<span style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 class="display-1 text-nowrap">{{ status }}
        <small class="text-muted">
            {{ statuses.succeeded }} / {{ statuses.total }}
        </small>
    </h1>
    <div class="text-center">
        <table class="table table-borderless table-sm d-inline text-left">
            <tr>
                <th class=>Options</th>
                <td>{{ statuses.options }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>{{ statuses.users }}</td>
            </tr>
            <tr>
                <th>Evaluations</th>
                <td>{{ statuses.evaluations }}</td>
            </tr>
            <tr>
                <th>Statuses</th>
                <td>{{ statuses.evaluationStatuses }}</td>
            </tr>
        </table>
    </div>
    <p class="text-center mt-3" ng-show="connectionFailed">
        <button type="button" class="btn btn-primary" ng-click="retry()">Retry Connecting</button>
        <a href="#!/organizer" class="btn btn-danger">Continue Anyway</a>
    </p>
</span>