<span style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 class="display-1 text-nowrap">{{ status }}
        <small class="text-muted">
            {{ statuses.succeeded }} / {{ statuses.total }}
        </small>
    </h1>
    <p>
        <b>Options</b> - {{ statuses.options ? 'OK' : 'LOADING...' }}<br>
        <b>Users</b> - {{ statuses.users ? 'OK' : 'LOADING...' }}<br>
        <b>Evaluations</b> - {{ statuses.evaluations ? 'OK' : 'LOADING...' }}<br>
        <b>Statuses</b> - {{ statuses.evaluationStatuses ? 'OK' : 'LOADING...' }}
    </p>
    <p class="text-center" ng-show="connectionFailed">
        <button type="button" class="btn btn-primary" ng-click="retry()">Retry Connecting</button>
        <a href="#!/organizer" class="btn btn-danger">Continue Anyway</a>
    </p>
</span>