<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <div class="form-row">
        <div class="col">
            <div class="spinner-grow text-warning" role="status" ng-if="isRunning">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-auto">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn"
                    ng-class="{ 'btn-info': keepGoing, 'btn-secondary': !keepGoing, 'active': keepGoing }">
                    <input type="checkbox" ng-model="keepGoing"> Recursive
                </label>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Status</th>
                <th scope="col">Training</th>
                <th scope="col">Validation</th>
                <th scope="col">Test</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eval in evaluations">
                <td>
                    <pre>{{ eval.model | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval.status }}</pre>
                </td>
                <td>
                    <pre>{{ eval.training | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval.validation | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval.test | json }}</pre>
                </td>
            </tr>
        </tbody>
    </table>

</div>