<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <div class="form-row mb-2">
        <div class="col">
            <div class="progress position-relative">
                <div class="progress-bar" ng-class="progressBar.classes()" ng-style="progressBar.style()"
                    role="progressbar">
                </div>
                <span
                    class="d-flex align-items-center justify-content-center position-absolute w-100 h-100 text-black font-weight-bold">
                    {{ progressBar.current }} / {{ progressBar.total }}
                </span>
            </div>
        </div>
    </div>

    <div class="row mb-2">

        <div class="col">

            <div class="row">
                <div class="col-auto">Architecture</div>
                <div class="col">
                    <select class="form-control" id="architectures" ng-model="search.model.architecture">
                        <option></option>
                        <option ng-repeat="architecture in options.architectures">{{ architecture }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">Dataset</div>
                <div class="col">
                    <select class="form-control" id="datasets" ng-model="search.model.dataset">
                        <option></option>
                        <option ng-repeat="dataset in options.datasets">{{ dataset }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">Loss</div>
                <div class="col">
                    <select class="form-control" id="losses" ng-model="search.model.loss">
                        <option></option>
                        <option ng-repeat="loss in options.losses">{{ loss }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">Optimizer</div>
                <div class="col">
                    <select class="form-control" id="optimizers" ng-model="search.model.optimizer">
                        <option></option>
                        <option ng-repeat="optimizer in options.optimizers">{{ optimizer }}</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col">
            <select class="form-control" ng-model="search.status">
                <option></option>
                <option ng-repeat="status in evaluations.statuses()">{{ status }}</option>
            </select>
        </div>

        <div class="col">
            <select class="form-control" ng-model="sort.phase">
                <option>training.accuracy</option>
                <option>validation.accuracy</option>
                <option>test.accuracy</option>
            </select>
        </div>

        <div class="col-auto">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn"
                    ng-class="{ 'btn-info': sort.reverse, 'btn-outline-info': !sort.reverse, 'active': sort.reverse }">
                    <input type="checkbox" ng-model="sort.reverse"> Reverse
                </label>
            </div>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Status</th>
                <th scope="col">Training</th>
                <th scope="col">Validation</th>
                <th scope="col">Test</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eval_ in evaluations.toArray() | filter : search | orderBy : sort.phase : sort.reverse">
                <td>
                    <pre>{{ eval_.model | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval_.status }}</pre>
                </td>
                <td>
                    <pre>{{ eval_.training | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval_.validation | json }}</pre>
                </td>
                <td>
                    <pre>{{ eval_.test | json }}</pre>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Status Check: Loading Data Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Make sure the server and MongoDB are both on.<br>
                Server: {{ optionsLoaded() ? 'on' : 'off' }}<br>
                MongoDB: {{ evaluations.isLoaded ? 'on' : 'off' }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quit</button>
                <button type="button" class="btn btn-primary" ng-click="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>