<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <form class="card mb-3" ng-submit="submit()">
        <div class="card-body">
            <div class="form-row align-items-end">

                <div class="col-2">
                    <label for="clusterSelector">Clustering Algorithm</label>
                    <select class="form-control" id="clusterSelector" ng-model="requestParameters.cluster">
                        <option ng-repeat="option in options.clusters">{{ option }}</option>
                    </select>
                </div>

                <div class="col">
                    <label for="fileSelector">Directory</label>
                    <input class="form-control" ng-model="requestParameters.directory" type="text" id="fileSelector">
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Cluster</button>
                </div>

            </div>
        </div>
    </form>

    <div class="card mb-3" ng-repeat="cluster in clusters">
        <h5 class="card-header text-center">{{ $index }}</h5>
        <div class="card-body">
            <img class="img-thumbnail img-max-300 m-1" ng-src="{{ image }}" ng-click="focusOnImage(image)" role="button"
                ng-repeat="image in cluster">
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Loading Data Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Make sure the server is on.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quit</button>
                <button type="button" class="btn btn-primary" ng-click="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>

<photo-modal></photo-modal>