<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>Source</h1>
        </div>
        <div class="col">
            <h1>Destination</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">

            <h6>Create unlabeled data</h6>

            <form class="mb-2" ng-submit="getImages()">
                <div class="form-row">
                    <div class="col">
                        <input class="form-control" ng-model="newData.filepath" type="text" placeholder="Directory"
                            required>
                    </div>
                    <div class="col-auto">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn"
                                ng-class="{ 'btn-info': newData.recursive, 'btn-secondary': !newData.recursive, 'active': newData.recursive }">
                                <input type="checkbox" ng-model="newData.recursive"> Recursive
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Load</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h6>Import CSV file</h6>

            <form class="mb-2" ng-submit="load()">
                <div class="form-row">
                    <div class="custom-file col">
                        <input class="custom-file-input" file-input="file1" type="file" id="csvInput" required>
                        <label class="custom-file-label" for="csvInput">{{ file1[0].name || 'Choose file' }}</label>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Load</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col">

            <h6>Export to CSV file</h6>

            <form class="mb-2" ng-submit="export()">
                <fieldset ng-disabled="!data">
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" ng-model="exportPath" type="text" placeholder="Filepath"
                                required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Export</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h6>From MongoDB</h6>

            <form class="mb-2" ng-submit="download()">
                <div class="form-row">
                    <div class="col mb-2">
                        <select class="custom-select" ng-model="collectionPull">
                            <option ng-repeat="c in collections">{{ c }}</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Load</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col">

            <h6>Insert into MongoDB</h6>

            <form class="mb-2" ng-submit="upload()">
                <fieldset ng-disabled="!data">
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" ng-model="collectionPush" type="text" placeholder="Collection"
                                required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Export</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

    <h1>Data</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-auto" scope="col">ID</th>
                    <th class="col" scope="col">Image</th>
                    <th class="col-auto" scope="col">Rating</th>
                    <th class="col-auto" scope="col">Class</th>
                    <th class="col-auto" scope="col">Labeled</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in data track by $index">
                    <th scope="row">{{ doc._id }}</th>
                    <td class="text-break">{{ doc.image }}</td>
                    <td>{{ doc.rating }}</td>
                    <td>{{ doc.class }}</td>
                    <td>{{ doc.isLabeled }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>