<div class="modal" tabindex="-1" id="photoModal">
    <div
        class="modal-dialog vw-100 vh-100 mw-100 mh-100 p-5 m-0 d-flex justify-content-center align-items-center position-relative">
        <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close"
            style="top: 0px; right: 0px;">
            <span class="display-1 text-white" aria-hidden="true">&times;</span>
        </button>
        <img class="img-fluid mh-100 img-thumbnail" ng-src="{{ focusImage.image | fileUrl }}">
    </div>
</div>