<devtools-navbar></devtools-navbar>

<div class="container-fluid">

    <form class="mb-3" ng-submit="submit()">
        <div class="form-row align-items-end">

            <div class="form-group col-auto">
                <label for="clusterSelector">Clustering Algorithm</label>
                <select class="form-control" id="clusterSelector" ng-model="requestParameters.cluster">
                    <option ng-repeat="option in options.clusters">{{ option }}</option>
                </select>
            </div>

            <div class="form-group col-auto">
                <label for="fileSelector">Directory</label>
                <input class="form-control" ng-model="requestParameters.directory" type="text" id="fileSelector">
            </div>

            <div class="form-group col-auto">
                <button class="btn btn-primary" type="submit">Cluster</button>
            </div>

        </div>
    </form>

    <div class="card mb-3" ng-repeat="cluster in clusters">
        <h5 class="card-header text-center">{{ $index }}</h5>
        <div class="card-body">
            <img class="img-thumbnail img-max-300" ng-src="{{ image }}" ng-repeat="image in cluster">
        </div>
    </div>
</div>